<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand">GameBook</a>
        </div>
        <ul class="nav navbar-nav navbar-right navItems">
            <li class="dropdown">
                <a class="dropdown-toggle settings myDropdown" data-toggle="dropdown"><span class="glyphicon glyphicon-user myIcon" aria-hidden="true"></span>{{ currentUser.username }} <span class="caret myCaret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="showUsers">View Profile</a></li>
                    <li><a ui-sref="addUsers">Search Friends</a></li>
                    <li><a ui-sref="showClans">Search Clans</a></li>
                    <li><a ui-sref="users">Sign Off</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="clanView">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-container flip">
                    <form class="profile-form">
                        <h3 class="title">Clan Profile</h3>
                        <div class="login-user-info">
                            <div>
                                <h2 class="text-center white">{{clan.clanname}}</h2>
                            </div>
                            <div>
                                <img class="profile-img" src="{{myFriend.profilePic}}">
                            </div>
                            <div>
                                <h2 class="text-center white"> Clan Leader: {{clan.clanleader.username}}</h2>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="friend-container flip">
                    <form class="friend-form">
                        <h3 class="title">Clan Requirements</h3>
                        <div class="login-user-info">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="notification-container flip">
                    <form class="message-form">
                        <h3 class="title">Send Clan Request</h3>
                        <div class="login-user-info">
                            <div>
                                <textarea name="" class="textbox" cols="30" rows="10" ng-model="message"></textarea>
                            </div>
                            <button ng-click="addClanRequests(clan,message)" class="btn btn-primary pull-right">Send Request</button>
                        </div>
                    </form>
                </div>
                <div class="notification-container flip">
                    <form class="message-form">
                        <h3 class="title">Clan Members</h3>
                        <div class="login-user-info">
                            <div ng-repeat="clanmember in clan.clanmembers">
                                <div class="container">
                                    <div class="row">
                                        <img class="col-md-4 friends-pic" src="{{clanmember.profilePic}}">
                                        <h2 class="col-md-8 white names-pic">{{clanmember.username}}</h2>
                                    </div>
                                </div>
                            </div>
                            <button ui-sref="showFriends" class="btn btn-primary btn-change pull-right">View All</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>