<div class="login-bg">
    <svg viewBox="0 0 960 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">GameBook
            </text>
        </symbol>
        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>
    <div class="container">
        <div class="form-container flip">
            <form class="login-form1">
                <h3 class="text-center title">Sign Up!</h3>
                <div class="">
                    <div class="myContainer">
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Username" ng-model="newuser.username" required="true">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Password" ng-model="newuser.password" required="true">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Email" ng-model="newuser.email" required="true">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Firstname" ng-model="newuser.firstname" required="true">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Lastname" ng-model="newuser.lastname" required="true">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="login-button" ng-click="addUsers()">Create User</button>
                </div>
            </form>
        </div>
    </div>
</div>